# App config
PORT=4400

# database
DATABASE_TYPE=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=nest2
DATABASE_MAX_CONNECTIONS=100
DATABASE_SSL_ENABLED=false
DATABASE_REJECT_UNAUTHORIZED=false

# Authentication
AUTH_JWT_SECRET_KEY=guessit
AUTH_JWT_TOKEN_EXPIRES_IN=14d

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
